[submodule "AutoAppDev"]
	path = AutoAppDev
	url = git@github.com:lachlanchen/AutoAppDev.git
[submodule "AutoNovelWriter"]
	path = AutoNovelWriter
	url = git@github.com:lachlanchen/AutoNovelWriter.git
[submodule "OrganoidAgent"]
	path = OrganoidAgent
	url = git@github.com:lachlanchen/OrganoidAgent.git
[submodule "PaperAgent"]
	path = PaperAgent
	url = git@github.com:lachlanchen/PaperAgent.git
